.occupancy-rate-average__wrapper{
    background-color: var(--color-gray-200);
    border-radius: 0.5rem;
    height: 15rem;
}
.occupancy-rate-graph__wrapper{
    background-color: var(--color-gray-200);
    border-radius: 0.5rem;
    height: 15rem;
}