.bookings-calendar__wrapper {
    cursor: default;
    background-color: var(--color-gray-100);
}

.bookings-calendar__wrapper button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.bookings-calendar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-600);
    font-weight: 600;
    margin: 0.8rem;

}

.bookings-calendar__header p {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1 0 0;
}

.bookings-calendar__header svg {
    font-size: 1.5rem;
}

.bookings-calendar__body {
    border: 1px solid var(--color-gray-600);
}

.bookings-calendar__day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.bookings-calendar__day-grid p {
    display: flex;
    border-top: 1px solid var(--color-gray-600);
    border-bottom: 1px solid var(--color-gray-600);
    justify-content: center;
}

.bookings-calendar__day-header p {
    border: 0;
}

.bookings-calendar__day {
    color: var(--color-gray-500);
    white-space: normal;
    text-wrap: nowrap;
    word-wrap: normal;
    word-break: break-all;
    overflow: hidden;
}

.bookings-calendar__day:nth-child(even) {
    background-color: var(--color-gray-100);
}

.bookings-calendar__day:nth-child(odd) {
    background-color: var(--color-gray-300);
}

.bookings-calendar__apartment-cell-wrapper {
    height: 2rem;
    margin-top: 0.2rem;
}

.bookings-calendar__apartment-cell-wrapper:last-child {
    margin-bottom: 0.2rem;
}

.bookings-calendar__booking-cell {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    cursor: pointer;
    height: 2rem;
    z-index: 1;
}

.bookings-calendar__client-name {
    color: var(--color-gray-100);
    transform: translateX(-2rem);
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;
    text-wrap: nowrap;
    font-size: 0.8rem;
    max-width: 35%;
    height: 2rem;
}

.bookings-calendar__booking-cell.staying {
    z-index: 2;
}

.bookings-calendar__booking-cell.incoming {
    transform: translateX(60%) skew(-10deg);
}

.bookings-calendar__booking-cell.leaving {
    transform: translateX(-60%) skew(-10deg);
}

.bookings-calendar__booking-cell.double-booking.leaving:last-child {
    transform: translateX(-60%) translateY(-100%) skew(-10deg);
}

.bookings-calendar__booking-cell.double-booking.incoming:last-child {
    transform: translateX(60%) translateY(-100%) skew(-10deg);
}

.bookings-calendar__apartment-cell-wrapper:nth-child(2) .bookings-calendar__booking-cell {
    background-color: #FFAD1E;
}

.bookings-calendar__apartment-cell-wrapper:nth-child(3) .bookings-calendar__booking-cell {
    background-color: #FF791E;
}

.bookings-calendar__apartment-cell-wrapper:nth-child(4) .bookings-calendar__booking-cell {
    background-color: #3280FB;
}

.bookings-calendar__apartment-cell-wrapper:nth-child(5) .bookings-calendar__booking-cell {
    background-color: #007965;
}




/* MEDIA QUERIES (medium and small screens)*/
@media screen and (max-width: 1024px) {

    .bookings-calendar__apartment-cell-wrapper,
    .bookings-calendar__booking-cell {
        font-size: 0.6rem;
        height: 1.4rem;
    }
    .bookings-calendar__client-name {
        font-size: 0.6rem;
        font-weight: 500;
        height: 1.4rem;
        max-width: 30%;
        transform: translateX(-1.5rem);
    }

    .bookings-calendar__day {
        font-size: 0.6rem;
        font-weight: 500;
    }
}


/* MEDIA QUERIES (small screens) */
@media screen and (max-width: 600px) {


    .bookings-calendar__apartment-cell-wrapper,
    .bookings-calendar__booking-cell {
        height: 1.2rem;
    }

    .bookings-calendar__client-name {
        max-width: 20%;
        font-size: 0.3rem;
        font-weight: 600;
        transform: translateX(-0.5rem);
        height: 1.2rem;
    }

    .bookings-calendar__day-header,
    .bookings-calendar__day {
        font-size: 0.3rem;
        font-weight: 600;
    }

}