.input__wrapper {
    position: relative;
    background-color: transparent;
    width: 100%;
    display: grid;
}

.input__wrapper label {
    color: var(--color-gray-400);
    font-size: 0.7rem;
    font-weight: 500;
}

.input__wrapper input {
    font-family: 'Montserrat', sans-serif;
    padding: 0.3rem;
    min-height: 2rem;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color-gray-600);
    border: 1px solid var(--color-gray-600);
    border-radius: 0.3rem;
}

.input__wrapper.invalid input {
    border: 1px solid var(--color-error);
}

.input__wrapper.invalid .input__value {
    border: 1px solid var(--color-error);
}

.toggle-btn {
    display: grid;
    grid-template-columns: 1fr;
}

.toggle-btn label {
    color: var(--color-gray-400);
    font-size: 0.7rem;
    font-weight: 500;
}

.toggle-btn__wrapper {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-600);
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    display: flex;
}

.toggle-btn__wrapper.active {
    background-color: var(--color-primary);
    border: 1px solid transparent;
}

.toggle-btn__dot {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 0.8rem;
    margin: 0.2rem 0.2rem 0.2rem 0.25rem;
    background-color: var(--color-gray-600);
    transition: var(--transition);
}

.toggle-btn__dot.active {
    margin: 0.2rem 0.2rem 0.2rem 2.2rem;
    background-color: var(--color-gray-100);
}

.input__wrapper textarea {
    font-family: 'Montserrat', sans-serif;
    padding: 0.3rem;
    color: var(--color-gray-600);
    border: 1px solid var(--color-gray-600);
    border-radius: 0.3rem;
    min-height: 10rem;
    width: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    resize: none;
    outline: none;
}

.input__wrapper ul {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 0.5rem;
    z-index: 10;
}

.dropdown-list {
    max-height: 10rem;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    width: 100%;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-600);
}

.dropdown-list li {
    padding: 0.3rem;
    cursor: pointer;
}
.dropdown-list li:hover{
    color: var(--color-gray-100);
    background-color: var(--color-analogous-1);
}


.input__value {
    position: relative;
    display: flex;
    min-height: 2rem;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--color-gray-600);
    border-radius: 0.3rem;
    align-items: center;
    
}
.input__value input{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
}
.input__value p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0 0.5rem;
}

.input__children {
    z-index: 10;
    position: absolute;
    margin-top: 0.5rem;
    left: 0;
    top: 100%;
}

.not-visible {
    visibility: hidden;
}

.currency__wrapper{
    background-color: white;
}
.currency__wrapper input{
    border: none;

}

.pointer {
    cursor: pointer;
}

/* MEDIA QUERIES (small screens) */

@media screen and (max-width: 600px) {

    .input__wrapper ul {
        left: 50%;
        transform: translateX(-50%);
    }

    .form__row {
        grid-template-columns: 1fr;
    }

}