.dashboard__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.8rem;
    grid-auto-rows: 7rem;
    margin: 1rem 0;
}

@media (max-width: 1024px) {
    .dashboard__grid {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (max-width: 600px) {
    .dashboard__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}