
// use node to generate your_JWT_token
// node -> require ('crypto').randomBytes(64).toString('hex')
PORT=3500
ACCESS_TOKEN_SECRET=your_JWT_token
REFRESH_TOKEN_SECRET=your_JWT_token
DATABASE_URI=your_mongodb_uri
ALLOWED_ORIGINS=your_website_url,your_website_url,your_website_url
