.login__contianer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80dvh;
}
.login__form{
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-gray-200);
    box-shadow: var(--box-shadow);
}